html {
  width: 100%;
}
html body div#left-drawer {
  --drawerWidth: 280px;
  width: var(--drawerWidth);
}
html body div#left-drawer.mdui-drawer-close {
  transform: translateX(calc(var(--drawerWidth) * -1));
}
html body div#left-drawer div.drawerHeader div.drawerAbout {
  height: 225px;
  width: 100%;
}
html body div#left-drawer div.drawerHeader div.drawerAbout div.drawerAboutMain {
  height: 100%;
  width: 100%;
  --drawer-bg: url("https://picsum.photos/1280/480.webp?random=1");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  line-height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
html body div#left-drawer div.drawerHeader div.drawerAbout div.drawerAboutMain img.avatar {
  width: 50px;
  height: 50px;
  border-radius: 999px;
  margin: 10px 20px;
  order: 0;
}
html body div#left-drawer div.drawerHeader div.drawerAbout div.drawerAboutMain:before {
  content: attr(data-name);
  font-size: 18px;
  margin: 0 20px;
  order: 1;
}
html body div#left-drawer div.drawerHeader div.drawerAbout div.drawerAboutMain.light:after {
  filter: invert(1) hue-rotate(180deg);
}
html body div#left-drawer div.drawerHeader div.drawerAbout div.drawerAboutMain:after {
  content: attr(data-slogan);
  color: rgba(255,255,255,0.702);
  font-size: 14px;
  margin: 0 0 20px 20px;
  order: 2;
}
html body div#left-drawer div.drawerHeader button.nightMode {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
html body div#left-drawer div.mdui-tab.mdui-tab-full-width.mdx-toc-tab {
  min-height: 48px;
  max-height: 72px;
}
html body div#left-drawer div.mdui-tab.mdui-tab-full-width.mdx-toc-tab a {
  min-height: 0;
  min-width: 0;
  padding: 6px;
}
html body div#left-drawer div.mdui-tab.mdui-tab-full-width.mdx-toc-tab a i {
  font-size: 18px;
}
html body div#left-drawer div.mdui-tab.mdui-tab-full-width.mdx-toc-tab a lable {
  font-size: 12px;
}
html body div#left-drawer nav#drawer-menu div a {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  white-space: normal;
}
html body div#left-drawer nav#drawer-menu div a i {
  margin-right: 10px;
}
html body div#left-drawer nav#drawer-toc ol {
  pointer-events: none;
}
html body div#left-drawer nav#drawer-toc ol li {
  padding: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  width: 100%;
}
html body div#left-drawer nav#drawer-toc ol li::after {
  display: none;
}
html body div#left-drawer nav#drawer-toc ol li a {
  width: calc(var(--drawerWidth) - 32px);
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  pointer-events: all;
}
html body div#left-drawer nav#drawer-toc ol li a span.mdui-list-number {
  margin-right: 10px;
}
html body div#left-drawer nav#drawer-toc ol li a span {
  pointer-events: none;
}
html body div#left-drawer nav#drawer-toc ol li i.mdui-icon.material-icons {
  margin: 0 5px;
}
html body div.pageTitle {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
html body div.pageTitle h1 {
  text-shadow: 0 0 10px rgba(0,0,0,0.502);
  text-align: center;
}
html body div.mainContent {
  margin: 25px 0;
  width: 100%;
  max-width: 700px;
}
html body div.mainContent main.postList {
  width: 95%;
  max-width: 700px;
}
html body div.mainContent main.postList div.postItem {
  border-radius: 8px;
  margin-bottom: 25px;
}
html body div.mainContent main.postList div.postItem:last-child {
  margin-bottom: 0;
}
html body div.mainContent main.postList div.postItem div.postItemContent {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
html body div.mainContent main.postList div.postItem div.postItemContent a.postTitle {
  text-decoration: none;
  font-weight: 400;
  padding: 0 10px;
}
html body div.mainContent main.postList div.postItem div.postItemContent a.postTitle h1 {
  margin-top: 8px;
  margin-bottom: 20px;
}
html body div.mainContent main.postList div.postItem div.postItemContent p.postExcerpt {
  margin: 0;
  padding: 0 10px;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.mdui-divider {
  margin: 10px 0 5px 0;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 10px;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter span.postItemInfo {
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 100px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter span.postItemInfo div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter span.postItemInfo div:first-child {
  margin-left: 0;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter span.postItemInfo div i {
  margin-right: 5px;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter span.postItemInfo div a.category-link {
  text-decoration: none;
  flex-shrink: 1;
}
html body div.mainContent main.postList div.postItem div.postItemContent div.postItemFooter a.readMore {
  justify-self: flex-end;
  flex-shrink: 0;
}
html body div.mainContent div.postPage {
  margin-top: -13.5vh;
  overflow: unset;
}
html body div.mainContent div.postPage div.postMeta {
  padding: 1.5rem 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
html body div.mainContent div.postPage div.postMeta div.mdui-chip {
  margin: 0 0.5rem;
}
html body div.mainContent div.postPage div.postMeta div.mdui-chip span.mdui-chip-title a {
  text-decoration: none;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo img,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo p img {
  max-height: 75vh;
  max-width: 100% !important;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo blockquote.mdx-warn {
  border-left-color: #c80000 !important;
  color: #c80000 !important;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdui-panel {
  margin: 1rem 0;
  box-shadow: none;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdui-panel div.mdui-panel-item {
  border-radius: 8px !important;
  box-shadow: none;
  background-color: #f4f4f4;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdui-panel div.mdui-panel-item div.mdui-panel-item-body {
  overflow: scroll;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card {
  margin: 1rem 0;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card {
  border-radius: 8px;
  background: #414141;
  height: 100pt;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card * {
  transition: all 0.3s ease;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.upperLayer a {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: none;
  color: #fff;
  opacity: 0.5;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.upperLayer a svg {
  height: 20px;
  width: 20px;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.upperLayer a:before {
  content: unset;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer a.repoLink {
  font-size: 28px;
  color: #fff;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer a.repoLink span.owner {
  opacity: 0.5;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer a.repoLink:before {
  content: unset;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer a.repoLink:hover {
  opacity: 0.7;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer div.repoDescription {
  font-size: 15px;
  color: #fff;
  display: flex;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.middleLayer div.repoDescription div.mdui-spinner {
  position: relative;
  left: calc(50% - 10px);
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.lowerLayer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  color: #fff;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.lowerLayer a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.lowerLayer a:hover {
  opacity: 0.7;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo div.mdx-github-card div.mdx-github-info-card div.lowerLayer a:before {
  content: unset;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight {
  overflow-y: scroll;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table {
  width: 100%;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.gutter {
  width: 50px;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre {
  text-align: left !important;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.comment {
  color: #999;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.string {
  color: #d14;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.keyword,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.type,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.params,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.operator {
  color: #00f;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.selector-id,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.selector-class,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.attribute,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.variable,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.title,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.literal,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.built_in,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.number {
  color: #606;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.function,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.selector-tag {
  color: #900;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.regexp {
  color: #080;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.tag,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre span.line span.name {
  color: #008;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-string,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-attr {
  color: #d14;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-bullet,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-comment {
  color: #999;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-link,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-attribute,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-keyword,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-operator,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-variable {
  color: #00f;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-built_in,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-symbol,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-literal,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-tag,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-selector-id,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-selector-tag,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-selector-class,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-type,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-number {
  color: #606;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-regexp {
  color: #e90;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-title,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-section {
  color: #900;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo figure.highlight table tbody tr td.code pre code.hljs span.hljs-quote {
  color: #090;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.function,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.keyword,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.key.atrule,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.class-name {
  color: #00f;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.punctuation,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.comment {
  color: #999;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.scalar.string,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.assign-left.variable,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.string,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.attr-name {
  color: #d14;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.operator,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.builtin.class-name,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.number,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.attr-value,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.property {
  color: #606;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.tag {
  color: #900;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.selector,
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.namespace {
  color: #008;
}
html body div.mainContent div.postPage div.mdui-card-content.mdui-typo pre.line-numbers code span.token.regex {
  color: #080;
}
html body div.mainContent div.postPage div.pageEnd {
  background-color: #ededed;
  padding: 25px 10px;
  max-width: 90vw;
  margin: 20px 0;
  overflow: unset;
}
html body div.mainContent div.postPage div.pageEnd button.mdui-fab.shareBtn {
  transform: translate(-65%, -100%);
  position: absolute;
}
html body div.mainContent div.postPage div.pageEnd div#shareToWechatQRCodeDialog {
  width: 300px;
}
html body div.mainContent div.postPage div.pageEnd div#shareToWechatQRCodeDialog div.mdui-container.shareToWechatQRCodeOuterContainer {
  padding: 25px;
  width: 300px;
  height: 315px;
  text-align: center;
}
html body div.mainContent div.postPage div.pageEnd div#shareToWechatQRCodeDialog div.mdui-container.shareToWechatQRCodeOuterContainer img {
  margin-bottom: 15px;
}
html body div.mainContent div.postPage div.pageEnd div.postTags i.mdui-icon {
  font-size: 18px;
}
html body div.mainContent div.postPage div.pageEnd div.postTags a.tag-none-link {
  text-decoration: none;
  transition: opacity 0.05s ease;
}
html body div.mainContent div.postPage div.pageEnd div.postTags a.tag-none-link:before {
  content: " #";
}
html body div.mainContent div.postPage div.pageEnd div.postTags a.tag-none-link:last-child {
  margin-right: 0;
}
html body div.mainContent div.postPage div.pageEnd div.postTags a.tag-none-link:hover {
  opacity: 0.7;
}
html body div.mainContent div.postPage div.pageEnd div.nav {
  margin-top: 1rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body div.mainContent div.postPage div.pageEnd div.nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.05s ease;
}
html body div.mainContent div.postPage div.pageEnd div.nav a:first-child {
  margin-right: 1.5rem;
}
html body div.mainContent div.postPage div.pageEnd div.nav a:last-child {
  margin-left: 1.5rem;
}
html body div.mainContent div.postPage div.pageEnd div.nav a:hover {
  opacity: 0.7;
}
html body div.mainContent div.postPage svg#mdxReadProgress {
  pointer-events: none;
  z-index: 200;
}
html body div.mainContent div.postPage svg#mdxReadProgress circle#mdxReadProgressRing {
  transition: all 0.1s ease;
  stroke-dasharray: 166.5;
  stroke-dashoffset: 166.5;
  transform: rotateZ(-270deg) rotateY(180deg);
  transform-origin: center;
}
html body div.mainContent div.postPage svg#mdxReadProgress.hide {
  opacity: 0;
}
html body div.mainContent main.postList div.postCount {
  text-align: center;
  width: 100%;
}
html body div.mainContent main.postList a.archiveTitle {
  text-align: center;
  text-decoration: none;
}
html body div.mainContent div.pagination {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body div.mainContent div.pagination * {
  height: 35px;
  width: 35px;
  margin: 10px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
html body div.mainContent div.pagination span.current {
  margin-right: 10px;
}
html body div.mainContent div.pagination a.page-number,
html body div.mainContent div.pagination a.extend {
  text-decoration: none;
}
html body div.mainContent div.pagination a.page-number:hover,
html body div.mainContent div.pagination a.extend:hover {
  background: rgba(0,0,0,0.2);
}
html body div.mainContent div#gitalk-container.gitalk-container {
  padding: 25px;
}
html body footer.footer {
  background-color: #f2f2f2;
  padding: 25px 0;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body footer.footer div.footerUpperLayer {
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
html body footer.footer div.footerUpperLayer div.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
html body footer.footer div.footerUpperLayer div.title a {
  text-decoration: none;
}
html body footer.footer div.footerUpperLayer div.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2.5rem;
}
html body footer.footer div.footerUpperLayer div.detail div.text {
  display: inline-flex;
}
html body footer.footer div.footerUpperLayer div.detail div.text div.contact a {
  text-decoration: none;
}
html body footer.footer div.footerLowerLayer {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
html body footer.footer div.footerLowerLayer div.left a,
html body footer.footer div.footerLowerLayer div.right a {
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  html body footer.footer {
    padding: 25px 10px;
  }
  html body footer.footer div.footerUpperLayer,
  html body footer.footer div.footerLowerLayer {
    flex-direction: column;
    text-align: center;
  }
}
html body.mdui-theme-layout-dark figure.highlight table tbody tr td.code pre span.line span,
html body.mdui-theme-layout-dark figure.highlight table tbody tr td.code pre code.hljs span,
html body.mdui-theme-layout-dark pre.line-numbers code span,
html body.mdui-theme-layout-dark .mdui-text-color-theme {
  filter: invert(1) hue-rotate(180deg);
}
html body.mdui-theme-layout-dark div#left-drawer {
  background-color: #303030 !important;
}
html body.mdui-theme-layout-dark div.pageEnd {
  background-color: #383838 !important;
}
html body.mdui-theme-layout-dark footer.footer {
  background-color: #212121 !important;
}
html body.mdui-theme-layout-dark div.postPage {
  background-color: #303030;
}
html body.mdui-theme-layout-dark div.postPage div.mdui-card-content.mdui-typo div.mdui-panel.mdui-panel-gapless div.mdui-panel-item {
  background-color: #3d3d3d;
}
@media (prefers-color-scheme: dark) {
  html body.mdui-theme-layout-auto figure.highlight table tbody tr td.code pre span.line span,
  html body.mdui-theme-layout-auto figure.highlight table tbody tr td.code pre code.hljs span,
  html body.mdui-theme-layout-auto pre.line-numbers code span,
  html body.mdui-theme-layout-auto .mdui-text-color-theme {
    filter: invert(1) hue-rotate(180deg);
  }
  html body.mdui-theme-layout-auto div#left-drawer {
    background-color: #303030 !important;
  }
  html body.mdui-theme-layout-auto div.pageEnd {
    background-color: #383838 !important;
  }
  html body.mdui-theme-layout-auto footer.footer {
    background-color: #212121 !important;
  }
  html body.mdui-theme-layout-auto div.postPage {
    background-color: #303030;
  }
  html body.mdui-theme-layout-auto div.postPage div.mdui-card-content.mdui-typo div.mdui-panel.mdui-panel-gapless div.mdui-panel-item {
    background-color: #3d3d3d;
  }
}
html body button#goToTopBtn {
  z-index: 100;
}
html body div#searchDialog {
  padding: 15px;
  overflow-y: scroll;
}
html body div#searchDialog div#searchResultContainer {
  min-height: 500px;
  margin: 0;
}
html body div#searchDialog div#searchResultContainer div.searchResultItem {
  margin: 20px 0;
}
html body div#searchDialog div#searchResultContainer div.searchResultItem a.searchResultItemTitle {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
html body div#searchDialog div#searchResultContainer div.searchResultItem div.searchResultItemContent {
  font-size: 0.8em;
}
html body div#searchDialog div#searchResultContainer div.searchResultItem div.searchResultItemContent span.searchResultItemMatched {
  font-weight: bold;
  background: #ff0;
  color: #000;
}
